*.aux
*.out
*.bbl
*.blg
*.fdbl_latexmk
*.toc
*.backup
*.log
*.pdf
*.bak
*.blend1
*.blend2
*.pdf_tex
*.kate*
*.fls
*.fdb_latexmk
*.dvi
*.bcf
*.lol
*.lof
*.lot
*.run.xml
*.bib_backup_before_deleting_Mendeley
*.pyg
*.tex_old

*.m~
octave-core

images/
texmf/
